[Unit]
Description=Monitor the usage of btrfs partition
OnFailure=status_mail@%n.service

[Service]
Type=simple
ExecStart=%h/.local/bin/btrfs-usage-monitor

[Install]
WantedBy=default.target
