[Unit]
Description=Switch theme for fzf, neovim
After=graphical.target

[Timer]
OnCalendar=*-*-* 6,18:00:00
AccuracySec=100ms
Unit=switch-theme.service

[Install]
WantedBy=timers.target
